﻿
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hi <b> @Context.User.Identity.Name </b>! Welcome to my firts MVC 5 web App!</h2>

@Html.ActionLink("Signout", "SignOut", "Account")