﻿@model MVC5RealWorld.Models.ViewModel.UserLoginView
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>LogIn</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LoginName, htmlAttributes: new  {  @class = "control-label col-md-2"  })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new {  @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoginName, "", new { @class =   "text-danger"  })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new {  @class = "control-label col-md-2"  })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new  { htmlAttributes = new  {  @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new {  @class = "text-danger"  })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Main", "Index", "Home")
</div>
